fastapi
pymongo
pymongo[srv]
motor
uvicorn
python-multipart
PyJWT
passlib[bcrypt]
geopy
pydantic[email]
pytest
bson
requests
openai
langchain_openai
langchain
docx2txt
pypdf
streamlit
chromadb
tiktoken
pinecone-client
python-dotenv
PyPDF2