fastapi
pymongo
pymongo[srv]
motor
uvicorn
python-multipart
PyJWT
passlib[bcrypt]
geopy
pydantic[email]
pytest
bson
requests
openai
langchain_openai
langchain
docx2txt
pypdf
streamlit
chromadb
tiktoken
pinecone-client
python-dotenv
PyPDF2
bcrypt==4.0.1
pyjwt==2.6.0
psycopg2-binary==2.9.5
email-validator>=1.0.3
passlib[bcrypt]
python-jose[cryptography]
python-multipart